.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.register,.login {
  background-color: salmon;
  padding: 20px;
  border-radius: 6px;

}

form {
  display: flex;
  flex-direction: column;

}

label{
  margin-bottom: 5px;

}

input{
  margin-bottom : 15px;
  padding:10px;
  border : 2px solid black;
  border-radius:5px;
}

button {
  padding : 10px;
  border : none;
  border-radius:5px;
  background-color : chocolate;
  color:black;
  cursor: pointer;
}

button:hover{
  background-color: cornflowerblue ;
  
}